<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>

<div class="container-fluid">
    {{!-- Deals --}}
    <div id='deals'>
        <h3>Deals:</h3>
        <img id="index-img" src="https://raw.githubusercontent.com/tmnguyen8/awesome-deal/master/public/images/Find-a-deal.png" alt="find-a-deal">
        <ul id="deal-list" class="list-group">

        </ul>
    </div>

    {{!-- Notes --}}
    {{!-- <div id="notes">
    </div> --}}
</div>
